body {
	margin: 0 auto;
	max-width: 50em;
	font-family: "Helvetica", "Arial", sans-serif;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	color: #333;
}

p {
	color: #444;
}

img {
	width: 240px;
	margin: 12px;
}

.header {
	height: 60px;
	background: #F0D879;
}

.content {
	display: flex;
}

.side-nav, .main {
	padding: 6px;
}

.side-nav {
	width: 20%;
}

.side-nav ul {
	padding: 0;
	list-style: none;
}

.side-nav ul a {
	color: #444;
}

.side-nav ul li {
	width: 100%;
	padding: 12px;
	text-align: center;
	border-bottom: 1px solid #555;
	box-sizing: border-box;
}

.main {
	width: 80%;
}

.footer {
	color: #FFF;
	height: 100px;
	text-align: center;
	background-color: #248888;
}

.footer p {
	color: #FFF;
}